.result_page_container {
    height: 100vh;
    width: 100vw;
}

.result_page_header {
    display: block;
    text-align: center;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: white;
    font-size: 3vw;
    
}

.result_page_lists_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.result_page_list {
    width: 15vw;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(50, 50, 50, 0.5);
    background-color: rgb(120, 87 ,204);
}
.result_page_list::-webkit-scrollbar {
    display: none;
}

.result_page_list_element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: fit-content;
    color: white;
    font-size: 1.6vw;
    border-top: solid 1px #4449;
    padding: 5px 0;
}

.result_page_category {
    color: white;
    font-size: 2.0vw;
    padding-bottom: 20px;
    padding-top: 20px;
}

.result_page_country {
    margin-right: auto;
    margin-left: 5px;
}

.result_page_score {
    margin-right: 0;
    margin-left: auto;
}

.result_page_back_button {
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 20px;
}