.result_page_header {
    display: block;
    text-align: center;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: white;
    font-size: 5vw;
    
}

.result_page_container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.result_page_list {
    width: 15vw;
    min-height: auto;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(50, 50, 50, 0.5)
}

.result_page_list_element {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    color: white;
    font-size: 1.6vw;
}

.result_page_category {
    color: white;
    font-size: 2.0vw;
    padding-bottom: 20px;
    padding-top: 20px;
}

.result_page_country {
    margin-right: auto;
    margin-left: 0;
}

.result_page_score {
    margin-right: 0;
    margin-left: auto;
}

.result_page_back_button {
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 5vh;
}